.note-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d2ab85;
    border-radius: 30px;
    height: 45px;
    padding: 5px 0px;
    transition: all 0.25s;

    &.active {
        background-color: rgba(50, 50, 50, 0.2);
    }

    input {
        background: none;
        outline: none;
        border: none;
        color: #d2ab85;
        width: 100%;
        margin-left: 15px;
        height: 100%;
        font-size: 25px;
    }

    button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        img {
            transition: all 0.25s;
            filter: invert(70%) sepia(33%) saturate(357%) hue-rotate(348deg) brightness(95%) contrast(87%);

            &:hover {
                filter: invert(70%) sepia(33%) saturate(357%) hue-rotate(348deg) brightness(120%) contrast(87%);
            }
        }
    }
}