@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    height: 100%;

    body {
        font-family: 'Noto Sans', sans-serif;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: rgb(72, 66, 109);
        background: linear-gradient(90deg, rgba(72, 66, 109, 1) 0%, rgba(56, 50, 89, 1) 100%);

        .todo-list {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #d2ab85;
            background-color: #48426d;
            border-radius: 30px;
            min-height: 500px;
            width: 500px;
            overflow: hidden;
            display: grid;
            grid-template-rows: 65px auto 75px;

            .list-title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                font-weight: bold;
                color: #48426d;
                background: #d2ab85;
                height: 45px;
                padding: 10px;
            }

            .notes-list {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .note-input {
                margin: 0px 15px;
            }
        }
    }
}